In [ ]:
import pandas as pd
import sqlite3
import random
from contextlib import contextmanager

# Step 1: Generate sample weather data (simulating HDFS CSV file)
def generate_sample_data(num_records=1000):
    years = list(range(1900, 2021))
    data = {
        'record_id': range(1, num_records + 1),
        'year': [random.choice(years) for _ in range(num_records)],
        'temperature_c': [random.uniform(-50, 50) for _ in range(num_records)]
    }
    df = pd.DataFrame(data)
    # Save to CSV (simulating HDFS file)
    csv_path = '/content/weather_data.csv'
    df.to_csv(csv_path, index=False)
    print(f"Sample data generated and saved to {csv_path} (simulating HDFS file).")
    return csv_path

# Step 2: Simulate SQLite connection for Hive-like table
@contextmanager
def sqlite_connection(db_name):
    conn = sqlite3.connect(db_name)
    try:
        yield conn
    finally:
        conn.close()

# Step 3: Simulate Sqoop export/import (CSV to SQLite)
def sqoop_like_import(csv_path, db_name, table_name):
    # Read CSV (simulating Sqoop export from HDFS)
    df = pd.read_csv(csv_path)
    print(f"Sqoop-like export: Read {len(df)} records from {csv_path} (HDFS).")

    # Import to SQLite (simulating Hive table)
    with sqlite_connection(db_name) as conn:
        df.to_sql(table_name, conn, if_exists='replace', index=False)
        print(f"Sqoop-like import: Loaded data into {db_name}.{table_name} (Hive table).")

        # Create index (optional, for performance, mimicking Hive index)
        conn.execute(f'CREATE INDEX idx_year ON {table_name}(year)')
        print(f"Index 'idx_year' created on {table_name}.year.")

# Step 4: Generate weather report from SQLite (Hive-like query)
def generate_weather_report(db_name, table_name):
    with sqlite_connection(db_name) as conn:
        query = f'''
            SELECT year,
                   MIN(temperature_c) AS min_temp_c,
                   MAX(temperature_c) AS max_temp_c
            FROM {table_name}
            GROUP BY year
            ORDER BY year
        '''
        report_df = pd.read_sql_query(query, conn)
        report_df['min_temp_c'] = report_df['min_temp_c'].round(1)
        report_df['max_temp_c'] = report_df['max_temp_c'].round(1)
    return report_df

# Step 5: Run the POC
if __name__ == "__main__":
    print("=== Simulating Sqoop Export/Import to Hive ===")

    # Generate sample data (HDFS-like CSV)
    csv_path = generate_sample_data(1000)

    # Simulate Sqoop import to Hive
    db_name = 'weather_hive.db'
    table_name = 'weather_data'
    sqoop_like_import(csv_path, db_name, table_name)

    # Generate report to verify data
    print("\nGenerating Weather Temperature Statistics Report...")
    report = generate_weather_report(db_name, table_name)

    print("\n=== Weather Report ===")
    print("Year\tMin Temp (째C)\tMax Temp (째C)")
    print("-" * 35)
    for _, row in report.iterrows():
        print(f"{int(row['year'])}\t{row['min_temp_c']}\t\t{row['max_temp_c']}")

    print(f"\nSample data from {table_name} (first 5 rows):")
    with sqlite_connection(db_name) as conn:
        sample_data = pd.read_sql_query(f'SELECT * FROM {table_name} LIMIT 5', conn)
        print(sample_data)

=== Simulating Sqoop Export/Import to Hive ===
Sample data generated and saved to /content/weather_data.csv (simulating HDFS file).
Sqoop-like export: Read 1000 records from /content/weather_data.csv (HDFS).
Sqoop-like import: Loaded data into weather_hive.db.weather_data (Hive table).
Index 'idx_year' created on weather_data.year.

Generating Weather Temperature Statistics Report...

=== Weather Report ===
Year	Min Temp (째C)	Max Temp (째C)
-----------------------------------
1900	-42.2		32.2
1901	-18.5		48.6
1902	-46.4		26.2
1903	-38.9		34.3
1904	-39.8		47.4
1905	-33.7		39.0
1906	-33.8		5.6
1907	-45.5		32.0
1908	-49.7		49.2
1909	-37.0		30.9
1910	-27.7		44.1
1911	-38.9		42.6
1912	-24.3		48.1
1913	11.1		33.3
1914	-45.6		50.0
1915	-45.5		44.4
1916	-38.3		37.4
1917	14.5		50.0
1918	-35.1		49.0
1919	-49.2		41.8
1920	-49.8		45.1
1921	-48.4		48.8
1922	-40.7		47.5
1923	-24.0		42.4
1924	-45.9		22.9
1925	-40.3		46.1
1926	-26.8		8.3
1927	-46.0		-8.9
1928	-49.1		20.1
1929	-44.9		43.7
1930	-43.9		42.9
1931	-32.2		33.0
1932	-30.8		45.7
1933	-47.5		47.4
1934	-24.4		49.0
1935	-49.4		43.6
1936	-38.0		40.7
1937	-31.7		39.8
1938	-25.7		37.5
1939	-49.7		49.9
1940	-45.5		42.5
1941	-28.0		34.6
1942	-49.1		43.2
1943	-49.9		43.6
1944	-43.3		40.9
1945	-47.0		47.9
1946	-44.9		41.4
1947	-30.1		46.5
1948	-43.7		45.0
1949	-47.4		43.6
1950	-39.3		41.7
1951	-24.1		30.0
1952	-42.9		45.8
1953	-45.8		37.4
1954	-42.8		40.7
1955	-48.2		46.4
1956	-47.2		45.2
1957	-38.9		38.1
1958	-17.8		41.2
1959	-45.8		44.7
1960	-29.8		46.3
1961	-48.3		15.2
1962	-33.9		42.2
1963	-44.7		47.2
1964	-46.6		36.5
1965	-38.5		48.7
1966	-23.5		41.9
1967	-47.5		40.4
1968	-33.0		31.5
1969	-45.2		24.3
1970	-48.1		49.2
1971	-45.4		31.1
1972	-36.0		17.4
1973	-37.5		43.7
1974	-40.6		48.7
1975	-37.0		42.0
1976	-20.0		13.2
1977	-36.8		35.2
1978	-49.9		46.6
1979	-40.0		46.4
1980	-26.5		45.5
1981	-34.7		48.0
1982	-24.8		27.1
1983	-49.3		46.0
1984	-50.0		37.9
1985	-28.7		34.2
1986	-46.7		42.5
1987	-46.9		47.9
1988	-42.0		18.4
1989	-30.6		49.0
1990	-45.9		48.7
1991	-44.7		28.5
1992	-42.2		44.9
1993	-46.5		40.7
1994	-38.9		40.2
1995	-48.4		48.8
1996	-46.9		30.9
1997	-40.4		48.5
1998	-49.2		31.8
1999	-41.0		45.5
2000	-13.4		16.8
2001	-38.7		32.2
2002	-42.2		17.8
2003	-35.3		25.8
2004	-46.6		3.2
2005	-41.9		34.5
2006	-47.4		49.5
2007	-23.4		33.8
2008	-30.7		40.5
2009	-38.1		46.9
2010	-35.9		46.4
2011	-26.2		43.4
2012	-37.0		32.8
2013	-49.3		38.5
2014	-34.1		34.4
2015	-34.9		39.8
2016	-49.3		46.4
2017	-40.8		37.1
2018	-24.1		46.8
2019	-43.1		46.8
2020	-47.4		47.7

Sample data from weather_data (first 5 rows):
   record_id  year  temperature_c
0          1  1936      40.403910
1          2  1937     -16.953221
2          3  1907      21.564613
3          4  1966     -23.531338
4          5  1935     -23.215985